<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>audioOS</key>
	<dict>
		<key>11.2.5</key>
		<dict>
			<key>15D59</key>
			<dict>
				<key>Beta</key>
				<integer>3</integer>
			</dict>
		</dict>
		<key>12.4</key>
		<dict>
			<key>16G78</key>
			<dict>
				<key>Date</key>
				<integer>20190722</integer>
			</dict>
		</dict>
		<key>13.4.8</key>
		<dict>
			<key>17M61</key>
			<dict>
				<key>Date</key>
				<integer>20200715</integer>
			</dict>
		</dict>
	</dict>
	<key>iOS</key>
	<dict>
		<key>10.3.3</key>
		<dict>
			<key>14G57</key>
			<dict>
				<key>Beta</key>
				<integer>6</integer>
				<key>Date</key>
				<integer>20170705</integer>
			</dict>
			<key>14G58</key>
			<dict>
				<key>Beta</key>
				<integer>6</integer>
				<key>Date</key>
				<integer>20170705</integer>
			</dict>
		</dict>
		<key>11.1</key>
		<dict>
			<key>15B92</key>
			<dict>
				<key>Beta</key>
				<integer>4</integer>
				<key>Date</key>
				<integer>20171020</integer>
			</dict>
			<key>15B93</key>
			<dict>
				<key>Beta</key>
				<integer>5</integer>
				<key>Date</key>
				<integer>20171020</integer>
				<key>Models</key>
				<array>
					<string>J120AP</string>
					<string>J121AP</string>
					<string>J207AP</string>
					<string>J208AP</string>
				</array>
			</dict>
		</dict>
		<key>11.3</key>
		<dict>
			<key>15E216</key>
			<dict>
				<key>Date</key>
				<string>20180329</string>
			</dict>
			<key>15E5211a</key>
			<dict>
				<key>Beta</key>
				<integer>5</integer>
			</dict>
			<key>15E5216a</key>
			<dict>
				<key>Beta</key>
				<integer>6</integer>
			</dict>
		</dict>
		<key>11.4</key>
		<dict>
			<key>15F5077a</key>
			<dict>
				<key>Beta</key>
				<integer>5</integer>
				<key>Date</key>
				<integer>20180514</integer>
			</dict>
			<key>15F5079a</key>
			<dict>
				<key>Beta</key>
				<integer>6</integer>
				<key>Date</key>
				<integer>20180517</integer>
			</dict>
		</dict>
		<key>11.4.1</key>
		<dict>
			<key>15G5054c</key>
			<dict>
				<key>Beta</key>
				<integer>1</integer>
				<key>Date</key>
				<integer>20180530</integer>
			</dict>
			<key>15G5074a</key>
			<dict>
				<key>Beta</key>
				<integer>4</integer>
				<key>Date</key>
				<integer>20180625</integer>
			</dict>
			<key>15G5077a</key>
			<dict>
				<key>Beta</key>
				<integer>5</integer>
				<key>Date</key>
				<integer>20180702</integer>
			</dict>
		</dict>
		<key>12.0</key>
		<dict>
			<key>16A366</key>
			<dict>
				<key>Date</key>
				<integer>20180912</integer>
			</dict>
			<key>16A5288q</key>
			<dict>
				<key>Beta</key>
				<integer>1</integer>
				<key>Date</key>
				<integer>20180604</integer>
			</dict>
			<key>16A5308e</key>
			<dict>
				<key>Beta</key>
				<integer>2</integer>
				<key>Date</key>
				<integer>20180619</integer>
			</dict>
			<key>16A5318d</key>
			<dict>
				<key>Beta</key>
				<integer>3</integer>
				<key>Date</key>
				<integer>20180703</integer>
			</dict>
			<key>16A5327f</key>
			<dict>
				<key>Beta</key>
				<integer>4</integer>
				<key>Date</key>
				<integer>20180717</integer>
			</dict>
			<key>16A5339e</key>
			<dict>
				<key>Beta</key>
				<integer>5</integer>
				<key>Date</key>
				<integer>20180730</integer>
			</dict>
			<key>16A5345f</key>
			<dict>
				<key>Beta</key>
				<integer>6</integer>
				<key>Date</key>
				<integer>20180806</integer>
			</dict>
			<key>16A5354b</key>
			<dict>
				<key>Beta</key>
				<integer>7</integer>
				<key>Date</key>
				<integer>20180813</integer>
			</dict>
			<key>16A5357b</key>
			<dict>
				<key>Beta</key>
				<integer>8</integer>
				<key>Date</key>
				<integer>20180815</integer>
			</dict>
			<key>16A5362a</key>
			<dict>
				<key>Beta</key>
				<integer>9</integer>
				<key>Date</key>
				<integer>20180820</integer>
			</dict>
			<key>16A5364a</key>
			<dict>
				<key>Beta</key>
				<integer>10</integer>
				<key>Date</key>
				<integer>20180823</integer>
			</dict>
			<key>16A5365b</key>
			<dict>
				<key>Beta</key>
				<integer>11</integer>
				<key>Date</key>
				<integer>20180827</integer>
			</dict>
			<key>16A5366a</key>
			<dict>
				<key>Beta</key>
				<integer>12</integer>
				<key>Date</key>
				<integer>20180831</integer>
			</dict>
		</dict>
		<key>12.0.1</key>
		<dict>
			<key>16A404</key>
			<dict>
				<key>Date</key>
				<integer>20181008</integer>
			</dict>
		</dict>
		<key>12.1</key>
		<dict>
			<key>16B5059d</key>
			<dict>
				<key>Beta</key>
				<integer>1</integer>
				<key>Date</key>
				<integer>20180918</integer>
				<key>Version</key>
				<string>12.1</string>
			</dict>
			<key>16B5068i</key>
			<dict>
				<key>Beta</key>
				<integer>2</integer>
				<key>Date</key>
				<integer>20181002</integer>
				<key>Version</key>
				<string>12.1</string>
			</dict>
			<key>16B5077c</key>
			<dict>
				<key>Beta</key>
				<integer>3</integer>
				<key>Date</key>
				<integer>20181009</integer>
				<key>Version</key>
				<string>12.1</string>
			</dict>
			<key>16B5084a</key>
			<dict>
				<key>Beta</key>
				<integer>4</integer>
				<key>Date</key>
				<integer>20181015</integer>
				<key>Version</key>
				<string>12.1</string>
			</dict>
			<key>16B5089b</key>
			<dict>
				<key>Beta</key>
				<integer>5</integer>
				<key>Date</key>
				<integer>20181022</integer>
				<key>Version</key>
				<string>12.1</string>
			</dict>
			<key>16B92</key>
			<dict>
				<key>Date</key>
				<integer>20181030</integer>
				<key>Version</key>
				<string>12.1</string>
			</dict>
			<key>16B93</key>
			<dict>
				<key>Date</key>
				<integer>20181030</integer>
				<key>Version</key>
				<string>12.1</string>
			</dict>
			<key>16B94</key>
			<dict>
				<key>Date</key>
				<integer>20181106</integer>
				<key>Version</key>
				<string>12.1</string>
			</dict>
		</dict>
		<key>12.1.1</key>
		<dict>
			<key>16C50</key>
			<dict>
				<key>Date</key>
				<integer>20181205</integer>
				<key>Version</key>
				<string>12.1.1</string>
			</dict>
			<key>16C5036c</key>
			<dict>
				<key>Beta</key>
				<integer>1</integer>
				<key>Date</key>
				<integer>20181031</integer>
				<key>Version</key>
				<string>12.1.1</string>
			</dict>
			<key>16C5043b</key>
			<dict>
				<key>Beta</key>
				<integer>2</integer>
				<key>Date</key>
				<integer>20181107</integer>
				<key>Version</key>
				<string>12.1.1</string>
			</dict>
			<key>16C5050a</key>
			<dict>
				<key>Beta</key>
				<integer>3</integer>
				<key>Date</key>
				<integer>20181115</integer>
				<key>Version</key>
				<string>12.1.1</string>
			</dict>
		</dict>
		<key>12.1.2</key>
		<dict>
			<key>16D5024a</key>
			<dict>
				<key>Beta</key>
				<integer>1</integer>
				<key>Date</key>
				<integer>20181210</integer>
				<key>Version</key>
				<string>12.1.2</string>
			</dict>
		</dict>
		<key>12.1.3</key>
		<dict>
			<key>16D39</key>
			<dict>
				<key>Date</key>
				<integer>20190122</integer>
				<key>Version</key>
				<string>12.1.3</string>
			</dict>
			<key>16D40</key>
			<dict>
				<key>Date</key>
				<integer>20190122</integer>
				<key>Version</key>
				<string>12.1.3</string>
			</dict>
			<key>16D5032a</key>
			<dict>
				<key>Beta</key>
				<integer>2</integer>
				<key>Date</key>
				<integer>20181219</integer>
				<key>Version</key>
				<string>12.1.3</string>
			</dict>
			<key>16D5037a</key>
			<dict>
				<key>Beta</key>
				<integer>3</integer>
				<key>Date</key>
				<integer>20190107</integer>
				<key>Version</key>
				<string>12.1.3</string>
			</dict>
			<key>16D5039a</key>
			<dict>
				<key>Beta</key>
				<integer>4</integer>
				<key>Date</key>
				<integer>20190110</integer>
				<key>Version</key>
				<string>12.1.3</string>
			</dict>
		</dict>
		<key>12.1.4</key>
		<dict>
			<key>16D57</key>
			<dict>
				<key>Date</key>
				<integer>20190207</integer>
				<key>Version</key>
				<string>12.1.4</string>
			</dict>
		</dict>
		<key>12.2</key>
		<dict>
			<key>16E227</key>
			<dict>
				<key>Date</key>
				<integer>20190325</integer>
				<key>Version</key>
				<string>12.2</string>
			</dict>
			<key>16E5181f</key>
			<dict>
				<key>Beta</key>
				<integer>1</integer>
				<key>Date</key>
				<integer>20190124</integer>
				<key>Version</key>
				<string>12.2</string>
			</dict>
			<key>16E5191d</key>
			<dict>
				<key>Beta</key>
				<integer>2</integer>
				<key>Date</key>
				<integer>20190204</integer>
				<key>Version</key>
				<string>12.2</string>
			</dict>
			<key>16E5201e</key>
			<dict>
				<key>Beta</key>
				<integer>3</integer>
				<key>Date</key>
				<integer>20190219</integer>
				<key>Version</key>
				<string>12.2</string>
			</dict>
			<key>16E5212f</key>
			<dict>
				<key>Beta</key>
				<integer>4</integer>
				<key>Date</key>
				<integer>20190304</integer>
				<key>Version</key>
				<string>12.2</string>
			</dict>
			<key>16E5223a</key>
			<dict>
				<key>Beta</key>
				<integer>5</integer>
				<key>Date</key>
				<integer>20190311</integer>
				<key>Version</key>
				<string>12.2</string>
			</dict>
			<key>16E5227a</key>
			<dict>
				<key>Beta</key>
				<integer>6</integer>
				<key>Date</key>
				<integer>20190318</integer>
				<key>Version</key>
				<string>12.2</string>
			</dict>
		</dict>
		<key>12.3</key>
		<dict>
			<key>16F156</key>
			<dict>
				<key>Date</key>
				<integer>20190513</integer>
				<key>Version</key>
				<string>12.3</string>
			</dict>
			<key>16F5117h</key>
			<dict>
				<key>Beta</key>
				<integer>1</integer>
				<key>Date</key>
				<integer>20190327</integer>
				<key>Version</key>
				<string>12.3</string>
			</dict>
			<key>16F5129d</key>
			<dict>
				<key>Beta</key>
				<integer>2</integer>
				<key>Date</key>
				<integer>20190408</integer>
				<key>Version</key>
				<string>12.3</string>
			</dict>
			<key>16F5139e</key>
			<dict>
				<key>Beta</key>
				<integer>3</integer>
				<key>Date</key>
				<integer>20190422</integer>
				<key>Version</key>
				<string>12.3</string>
			</dict>
			<key>16F5148a</key>
			<dict>
				<key>Beta</key>
				<integer>4</integer>
				<key>Date</key>
				<integer>20190429</integer>
				<key>Version</key>
				<string>12.3</string>
			</dict>
			<key>16F5155a</key>
			<dict>
				<key>Beta</key>
				<integer>5</integer>
				<key>Date</key>
				<integer>20190507</integer>
				<key>Version</key>
				<string>12.3</string>
			</dict>
			<key>16F5156a</key>
			<dict>
				<key>Beta</key>
				<integer>6</integer>
				<key>Date</key>
				<integer>20190510</integer>
				<key>Version</key>
				<string>12.3</string>
			</dict>
		</dict>
		<key>12.3.1</key>
		<dict>
			<key>16F203</key>
			<dict>
				<key>Date</key>
				<integer>20190524</integer>
				<key>Version</key>
				<string>12.3.1</string>
			</dict>
			<key>16F8202</key>
			<dict>
				<key>Date</key>
				<integer>20190528</integer>
				<key>Version</key>
				<string>12.3.1</string>
			</dict>
		</dict>
		<key>12.4</key>
		<dict>
			<key>16G5027g</key>
			<dict>
				<key>Beta</key>
				<integer>1</integer>
				<key>Date</key>
				<integer>20190515</integer>
				<key>Version</key>
				<string>12.4</string>
			</dict>
			<key>16G5027i</key>
			<dict>
				<key>Beta</key>
				<integer>2</integer>
				<key>Date</key>
				<integer>20190520</integer>
				<key>Version</key>
				<string>12.4</string>
			</dict>
			<key>16G5038d</key>
			<dict>
				<key>Beta</key>
				<integer>3</integer>
				<key>Date</key>
				<integer>20190528</integer>
				<key>Version</key>
				<string>12.4</string>
			</dict>
			<key>16G5046d</key>
			<dict>
				<key>Beta</key>
				<integer>4</integer>
				<key>Date</key>
				<integer>20190611</integer>
				<key>Version</key>
				<string>12.4</string>
			</dict>
			<key>16G5056d</key>
			<dict>
				<key>Beta</key>
				<integer>5</integer>
				<key>Date</key>
				<integer>20190624</integer>
				<key>Version</key>
				<string>12.4</string>
			</dict>
			<key>16G5069a</key>
			<dict>
				<key>Beta</key>
				<integer>6</integer>
				<key>Date</key>
				<integer>20190709</integer>
				<key>Version</key>
				<string>12.4</string>
			</dict>
			<key>16G5077a</key>
			<dict>
				<key>Beta</key>
				<integer>7</integer>
				<key>Date</key>
				<integer>20190716</integer>
				<key>Version</key>
				<string>12.4</string>
			</dict>
			<key>16G77</key>
			<dict>
				<key>Date</key>
				<integer>20190722</integer>
				<key>Version</key>
				<string>12.4</string>
			</dict>
		</dict>
		<key>12.4.1</key>
		<dict>
			<key>16G102</key>
			<dict>
				<key>Date</key>
				<real>20190826</real>
				<key>Version</key>
				<string>12.4.1</string>
			</dict>
		</dict>
		<key>12.4.2</key>
		<dict>
			<key>16G114</key>
			<dict>
				<key>Date</key>
				<real>20190926</real>
				<key>Version</key>
				<string>12.4.2</string>
			</dict>
		</dict>
		<key>12.4.3</key>
		<dict>
			<key>16G130</key>
			<dict>
				<key>Date</key>
				<integer>20191028</integer>
				<key>Version</key>
				<string>12.4.3</string>
			</dict>
		</dict>
		<key>12.4.4</key>
		<dict>
			<key>16G140</key>
			<dict>
				<key>Date</key>
				<integer>20191210</integer>
				<key>Version</key>
				<string>12.4.4</string>
			</dict>
		</dict>
		<key>12.4.5</key>
		<dict>
			<key>16G161</key>
			<dict>
				<key>Date</key>
				<integer>20200128</integer>
				<key>Version</key>
				<string>12.4.5</string>
			</dict>
		</dict>
		<key>12.4.6</key>
		<dict>
			<key>16G183</key>
			<dict>
				<key>Date</key>
				<integer>20200324</integer>
				<key>Version</key>
				<string>12.4.6</string>
			</dict>
		</dict>
		<key>12.4.7</key>
		<dict>
			<key>16G192</key>
			<dict>
				<key>Date</key>
				<integer>20200520</integer>
				<key>Version</key>
				<string>12.4.7</string>
			</dict>
		</dict>
		<key>12.4.8</key>
		<dict>
			<key>16G192</key>
			<dict>
				<key>Date</key>
				<integer>20200715</integer>
				<key>Version</key>
				<string>12.4.8</string>
			</dict>
		</dict>
		<key>13.0</key>
		<dict>
			<key>17A5492t</key>
			<dict>
				<key>Beta</key>
				<integer>1</integer>
				<key>Date</key>
				<integer>20190603</integer>
				<key>Version</key>
				<string>13.0</string>
			</dict>
			<key>17A5508m</key>
			<dict>
				<key>Beta</key>
				<integer>2</integer>
				<key>Date</key>
				<integer>20190617</integer>
				<key>Version</key>
				<string>13.0</string>
			</dict>
			<key>17A5522f</key>
			<dict>
				<key>Beta</key>
				<integer>3</integer>
				<key>Date</key>
				<integer>20190702</integer>
				<key>Version</key>
				<string>13.0</string>
			</dict>
			<key>17A5522g</key>
			<dict>
				<key>Beta</key>
				<integer>3</integer>
				<key>Date</key>
				<integer>20190708</integer>
				<key>Suffix</key>
				<string>Re-release</string>
				<key>Version</key>
				<string>13.0</string>
			</dict>
			<key>17A5534f</key>
			<dict>
				<key>Beta</key>
				<integer>4</integer>
				<key>Date</key>
				<integer>20190717</integer>
				<key>Version</key>
				<string>13.0</string>
			</dict>
			<key>17A5547d</key>
			<dict>
				<key>Beta</key>
				<integer>5</integer>
				<key>Date</key>
				<integer>20190729</integer>
				<key>Version</key>
				<string>13.0</string>
			</dict>
			<key>17A5556d</key>
			<dict>
				<key>Beta</key>
				<integer>6</integer>
				<key>Date</key>
				<real>20190807</real>
				<key>Version</key>
				<string>13.0</string>
			</dict>
			<key>17A5565b</key>
			<dict>
				<key>Beta</key>
				<integer>7</integer>
				<key>Date</key>
				<real>20190815</real>
				<key>Version</key>
				<string>13.0</string>
			</dict>
			<key>17A5572a</key>
			<dict>
				<key>Beta</key>
				<integer>8</integer>
				<key>Date</key>
				<real>20190821</real>
				<key>Version</key>
				<string>13.0</string>
			</dict>
			<key>17A577</key>
			<dict>
				<key>Date</key>
				<real>20190919</real>
				<key>Version</key>
				<string>13.0</string>
			</dict>
		</dict>
		<key>13.1</key>
		<dict>
			<key>17A5821e</key>
			<dict>
				<key>Beta</key>
				<integer>1</integer>
				<key>Date</key>
				<real>20190827</real>
				<key>Version</key>
				<string>13.1</string>
			</dict>
			<key>17A5831c</key>
			<dict>
				<key>Beta</key>
				<integer>2</integer>
				<key>Date</key>
				<real>20190904</real>
				<key>Version</key>
				<string>13.1</string>
			</dict>
			<key>17A5837a</key>
			<dict>
				<key>Beta</key>
				<integer>3</integer>
				<key>Date</key>
				<real>20190910</real>
				<key>Version</key>
				<string>13.1</string>
			</dict>
			<key>17A5844a</key>
			<dict>
				<key>Beta</key>
				<integer>4</integer>
				<key>Date</key>
				<real>20190918</real>
				<key>Version</key>
				<string>13.1</string>
			</dict>
			<key>17A844</key>
			<dict>
				<key>Date</key>
				<real>20190924</real>
				<key>Version</key>
				<string>13.1</string>
			</dict>
		</dict>
		<key>13.1.1</key>
		<dict>
			<key>17A854</key>
			<dict>
				<key>Date</key>
				<real>20190927</real>
				<key>Version</key>
				<string>13.1.1</string>
			</dict>
		</dict>
		<key>13.1.2</key>
		<dict>
			<key>17A860</key>
			<dict>
				<key>Date</key>
				<real>20190930</real>
				<key>Version</key>
				<string>13.1.2</string>
			</dict>
			<key>17A861</key>
			<dict>
				<key>Date</key>
				<real>20190930</real>
				<key>Version</key>
				<string>13.1.2</string>
			</dict>
		</dict>
		<key>13.1.3</key>
		<dict>
			<key>17A878</key>
			<dict>
				<key>Date</key>
				<integer>20191015</integer>
				<key>Version</key>
				<string>13.1.3</string>
			</dict>
		</dict>
		<key>13.2</key>
		<dict>
			<key>17B84</key>
			<dict>
				<key>Date</key>
				<integer>20191028</integer>
				<key>Version</key>
				<string>13.2</string>
			</dict>
		</dict>
		<key>13.2.2</key>
		<dict>
			<key>17B102</key>
			<dict>
				<key>Date</key>
				<integer>20191107</integer>
				<key>Version</key>
				<string>13.2.2</string>
			</dict>
		</dict>
		<key>13.2.3</key>
		<dict>
			<key>17B111</key>
			<dict>
				<key>Date</key>
				<integer>20191118</integer>
				<key>Version</key>
				<string>13.2.3</string>
			</dict>
		</dict>
		<key>13.3</key>
		<dict>
			<key>17C54</key>
			<dict>
				<key>Date</key>
				<integer>20191210</integer>
				<key>Version</key>
				<string>13.3</string>
			</dict>
		</dict>
		<key>13.3.1</key>
		<dict>
			<key>17D50</key>
			<dict>
				<key>Date</key>
				<integer>20200128</integer>
				<key>Version</key>
				<string>13.3.1</string>
			</dict>
		</dict>
		<key>13.4</key>
		<dict>
			<key>17E255</key>
			<dict>
				<key>Date</key>
				<integer>20200324</integer>
				<key>Version</key>
				<string>13.4</string>
			</dict>
			<key>17E5223h</key>
			<dict>
				<key>Beta</key>
				<integer>1</integer>
				<key>Date</key>
				<integer>20200205</integer>
				<key>Version</key>
				<string>13.4</string>
			</dict>
			<key>17E5233g</key>
			<dict>
				<key>Beta</key>
				<integer>2</integer>
				<key>Date</key>
				<integer>20200219</integer>
				<key>Version</key>
				<string>13.4</string>
			</dict>
			<key>17E5241d</key>
			<dict>
				<key>Beta</key>
				<integer>3</integer>
				<key>Date</key>
				<integer>20200226</integer>
				<key>Version</key>
				<string>13.4</string>
			</dict>
			<key>17E5249a</key>
			<dict>
				<key>Beta</key>
				<integer>4</integer>
				<key>Date</key>
				<integer>20200226</integer>
				<key>Version</key>
				<string>13.4</string>
			</dict>
			<key>17E5255a</key>
			<dict>
				<key>Beta</key>
				<integer>5</integer>
				<key>Date</key>
				<integer>20200303</integer>
				<key>Version</key>
				<string>13.4</string>
			</dict>
			<key>17E8255</key>
			<dict>
				<key>Date</key>
				<integer>20200423</integer>
				<key>Version</key>
				<string>13.4</string>
			</dict>
		</dict>
		<key>13.4.1</key>
		<dict>
			<key>17E262</key>
			<dict>
				<key>Date</key>
				<integer>20200407</integer>
				<key>Version</key>
				<string>13.4.1</string>
			</dict>
			<key>17E8258</key>
			<dict>
				<key>Date</key>
				<integer>20200423</integer>
				<key>Version</key>
				<string>13.4.1</string>
			</dict>
		</dict>
		<key>13.4.5</key>
		<dict>
			<key>17F5034c</key>
			<dict>
				<key>Beta</key>
				<integer>1</integer>
				<key>Date</key>
				<integer>20200331</integer>
				<key>Version</key>
				<string>13.4.5</string>
			</dict>
			<key>17F5044d</key>
			<dict>
				<key>Beta</key>
				<integer>2</integer>
				<key>Date</key>
				<integer>20200415</integer>
				<key>Version</key>
				<string>13.4.5</string>
			</dict>
		</dict>
		<key>13.5</key>
		<dict>
			<key>17F5054h</key>
			<dict>
				<key>Beta</key>
				<integer>3</integer>
				<key>Date</key>
				<integer>20200429</integer>
				<key>Version</key>
				<string>13.5</string>
			</dict>
			<key>17F5065a</key>
			<dict>
				<key>Beta</key>
				<integer>4</integer>
				<key>Date</key>
				<integer>20200506</integer>
				<key>Version</key>
				<string>13.5</string>
			</dict>
			<key>17F75</key>
			<dict>
				<key>Date</key>
				<integer>20200520</integer>
				<key>Version</key>
				<string>13.5</string>
			</dict>
		</dict>
		<key>13.5.1</key>
		<dict>
			<key>17F80</key>
			<dict>
				<key>Date</key>
				<integer>20200601</integer>
				<key>Version</key>
				<string>13.5.1</string>
			</dict>
		</dict>
		<key>13.5.5</key>
		<dict>
			<key>17G5035d</key>
			<dict>
				<key>Beta</key>
				<integer>1</integer>
				<key>Date</key>
				<integer>20200601</integer>
			</dict>
		</dict>
		<key>13.6</key>
		<dict>
			<key>17G5045c</key>
			<dict>
				<key>Beta</key>
				<integer>2</integer>
				<key>Date</key>
				<integer>20200609</integer>
			</dict>
			<key>17G5059c</key>
			<dict>
				<key>Beta</key>
				<integer>3</integer>
				<key>Date</key>
				<integer>20200630</integer>
			</dict>
			<key>17G68</key>
			<dict>
				<key>Date</key>
				<integer>20200715</integer>
			</dict>
		</dict>
		<key>14.0</key>
		<dict>
			<key>18A5301v</key>
			<dict>
				<key>Beta</key>
				<integer>1</integer>
				<key>Date</key>
				<integer>20200622</integer>
			</dict>
			<key>18A5319i</key>
			<dict>
				<key>Beta</key>
				<integer>2</integer>
				<key>Date</key>
				<integer>20200707</integer>
			</dict>
		</dict>
		<key>5.1</key>
		<dict>
			<key>9B176</key>
			<dict>
				<key>Date</key>
				<integer>20120307</integer>
			</dict>
		</dict>
		<key>6.0</key>
		<dict>
			<key>10A405</key>
			<dict>
				<key>Date</key>
				<string>20120919</string>
			</dict>
		</dict>
		<key>6.1</key>
		<dict>
			<key>10B141</key>
			<dict>
				<key>Date</key>
				<integer>20140128</integer>
			</dict>
		</dict>
		<key>6.1.3</key>
		<dict>
			<key>10B329</key>
			<dict>
				<key>Date</key>
				<integer>20130319</integer>
			</dict>
		</dict>
		<key>8.1</key>
		<dict>
			<key>12B407</key>
			<dict>
				<key>Beta</key>
				<integer>2</integer>
				<key>Date</key>
				<integer>20141007</integer>
			</dict>
		</dict>
		<key>8.2</key>
		<dict>
			<key>12D436</key>
			<dict>
				<key>Beta</key>
				<integer>1</integer>
				<key>Date</key>
				<integer>20141118</integer>
			</dict>
			<key>12D445d</key>
			<dict>
				<key>Beta</key>
				<integer>2</integer>
				<key>Date</key>
				<integer>20141210</integer>
			</dict>
		</dict>
		<key>8.3</key>
		<dict>
			<key>12F5047f</key>
			<dict>
				<key>Beta</key>
				<integer>3</integer>
				<key>Date</key>
				<integer>20150312</integer>
			</dict>
			<key>12F61</key>
			<dict>
				<key>Beta</key>
				<integer>4</integer>
				<key>Date</key>
				<integer>20150324</integer>
			</dict>
		</dict>
		<key>8.4.1</key>
		<dict>
			<key>12H304</key>
			<dict>
				<key>Beta</key>
				<integer>1</integer>
			</dict>
			<key>12H318</key>
			<dict>
				<key>Beta</key>
				<integer>2</integer>
			</dict>
		</dict>
		<key>9.0</key>
		<dict>
			<key>13A340</key>
			<dict>
				<key>Date</key>
				<string>20150909</string>
				<key>Suffix</key>
				<string>GM</string>
			</dict>
			<key>13A341</key>
			<dict>
				<key>Date</key>
				<string>20150909</string>
				<key>Suffix</key>
				<string>GM</string>
			</dict>
		</dict>
		<key>9.1</key>
		<dict>
			<key>13B136</key>
			<dict>
				<key>Beta</key>
				<integer>4</integer>
				<key>Date</key>
				<integer>20151006</integer>
			</dict>
			<key>13B137</key>
			<dict>
				<key>Beta</key>
				<integer>5</integer>
				<key>Date</key>
				<integer>20151012</integer>
			</dict>
		</dict>
		<key>9.2</key>
		<dict>
			<key>13C5055d</key>
			<dict>
				<key>Beta</key>
				<integer>1</integer>
				<key>Date</key>
				<integer>20151029</integer>
			</dict>
			<key>13C5060d</key>
			<dict>
				<key>Beta</key>
				<integer>2</integer>
			</dict>
		</dict>
		<key>9.2.1</key>
		<dict>
			<key>13D11</key>
			<dict>
				<key>Beta</key>
				<integer>1</integer>
				<key>Date</key>
				<integer>20151217</integer>
			</dict>
			<key>13D14</key>
			<dict>
				<key>Beta</key>
				<integer>2</integer>
			</dict>
		</dict>
		<key>9.3</key>
		<dict>
			<key>13E5181d</key>
			<dict>
				<key>Beta</key>
				<integer>1</integer>
				<key>Date</key>
				<integer>20160111</integer>
			</dict>
			<key>13E5181f</key>
			<dict>
				<key>Beta</key>
				<integer>1</integer>
				<key>Date</key>
				<integer>20160114</integer>
				<key>Suffix</key>
				<string>Update</string>
			</dict>
			<key>13E5200d</key>
			<dict>
				<key>Beta</key>
				<integer>3</integer>
				<key>Date</key>
				<integer>20160208</integer>
			</dict>
		</dict>
	</dict>
	<key>tvOS</key>
	<dict>
		<key>7.3</key>
		<dict>
			<key>12H847</key>
			<dict>
				<key>Date</key>
				<integer>20190513</integer>
			</dict>
		</dict>
		<key>11.0</key>
		<dict>
			<key>15J5284e</key>
			<dict>
				<key>Beta</key>
				<integer>1</integer>
				<key>Date</key>
				<integer>20170605</integer>
			</dict>
			<key>15J5284g</key>
			<dict>
				<key>Beta</key>
				<integer>1</integer>
				<key>Date</key>
				<integer>20170607</integer>
				<key>Suffix</key>
				<string>Re-release</string>
			</dict>
			<key>15J5310e</key>
			<dict>
				<key>Beta</key>
				<integer>2</integer>
				<key>Date</key>
				<integer>20170621</integer>
			</dict>
			<key>15J5310h</key>
			<dict>
				<key>Beta</key>
				<integer>2</integer>
				<key>Date</key>
				<integer>20170626</integer>
				<key>Suffix</key>
				<string>Re-release</string>
			</dict>
		</dict>
		<key>11.4.1</key>
		<dict>
			<key>15M5072a</key>
			<dict>
				<key>Beta</key>
				<integer>4</integer>
				<key>Date</key>
				<string>20180625</string>
			</dict>
		</dict>
		<key>12.0</key>
		<dict>
			<key>16J364</key>
			<dict>
				<key>Date</key>
				<integer>20180717</integer>
			</dict>
			<key>16J5322d</key>
			<dict>
				<key>Beta</key>
				<integer>4</integer>
				<key>Date</key>
				<integer>20180717</integer>
			</dict>
			<key>16J5349a</key>
			<dict>
				<key>Beta</key>
				<integer>7</integer>
				<key>Date</key>
				<integer>20180813</integer>
			</dict>
			<key>16J5355a</key>
			<dict>
				<key>Beta</key>
				<integer>8</integer>
				<key>Date</key>
				<integer>20180820</integer>
			</dict>
			<key>16J5360a</key>
			<dict>
				<key>Beta</key>
				<integer>9</integer>
				<key>Date</key>
				<integer>20180827</integer>
			</dict>
			<key>16J5364a</key>
			<dict>
				<key>Beta</key>
				<integer>10</integer>
				<key>Date</key>
				<integer>20180831</integer>
			</dict>
		</dict>
		<key>12.1.2</key>
		<dict>
			<key>16K534</key>
			<dict>
				<key>Date</key>
				<integer>20190122</integer>
			</dict>
		</dict>
		<key>12.3</key>
		<dict>
			<key>16M5151a</key>
			<dict>
				<key>Beta</key>
				<integer>5</integer>
				<key>Date</key>
				<string>20190507</string>
			</dict>
		</dict>
		<key>12.4</key>
		<dict>
			<key>16M5526d</key>
			<dict>
				<key>Beta</key>
				<integer>1</integer>
				<key>Date</key>
				<integer>20190515</integer>
			</dict>
			<key>16M5537c</key>
			<dict>
				<key>Beta</key>
				<integer>2</integer>
				<key>Date</key>
				<integer>20190528</integer>
			</dict>
			<key>16M5545c</key>
			<dict>
				<key>Beta</key>
				<integer>3</integer>
				<key>Date</key>
				<integer>20190611</integer>
			</dict>
			<key>16M568</key>
			<dict>
				<key>Date</key>
				<integer>20190722</integer>
			</dict>
		</dict>
		<key>12.4.1</key>
		<dict>
			<key>16M600</key>
			<dict>
				<key>Date</key>
				<real>20190826</real>
			</dict>
		</dict>
		<key>13.0</key>
		<dict>
			<key>17J5485s</key>
			<dict>
				<key>Beta</key>
				<integer>1</integer>
				<key>Date</key>
				<integer>20190603</integer>
			</dict>
			<key>17J5501l</key>
			<dict>
				<key>Beta</key>
				<integer>2</integer>
				<key>Date</key>
				<integer>20190617</integer>
			</dict>
			<key>17J5515e</key>
			<dict>
				<key>Beta</key>
				<integer>3</integer>
				<key>Date</key>
				<integer>20190702</integer>
			</dict>
			<key>17J5526e</key>
			<dict>
				<key>Beta</key>
				<integer>4</integer>
				<key>Date</key>
				<integer>20190717</integer>
			</dict>
			<key>17J5540d</key>
			<dict>
				<key>Beta</key>
				<integer>5</integer>
				<key>Date</key>
				<integer>20190729</integer>
			</dict>
			<key>17J5549c</key>
			<dict>
				<key>Beta</key>
				<integer>6</integer>
				<key>Date</key>
				<real>20190807</real>
			</dict>
			<key>17J5557a</key>
			<dict>
				<key>Beta</key>
				<integer>7</integer>
				<key>Date</key>
				<real>20190815</real>
			</dict>
			<key>17J5564c</key>
			<dict>
				<key>Beta</key>
				<integer>8</integer>
				<key>Date</key>
				<real>20190827</real>
			</dict>
			<key>17J5573a</key>
			<dict>
				<key>Beta</key>
				<integer>9</integer>
				<key>Date</key>
				<real>20190904</real>
			</dict>
			<key>17J5579a</key>
			<dict>
				<key>Beta</key>
				<integer>10</integer>
				<key>Date</key>
				<real>20190910</real>
			</dict>
			<key>17J5584a</key>
			<dict>
				<key>Beta</key>
				<integer>11</integer>
				<key>Date</key>
				<real>20190918</real>
			</dict>
		</dict>
		<key>13.4.6</key>
		<dict>
			<key>17L570</key>
			<dict>
				<key>Date</key>
				<integer>20200601</integer>
			</dict>
		</dict>
		<key>13.4.8</key>
		<dict>
			<key>17M61</key>
			<dict>
				<key>Date</key>
				<integer>20200715</integer>
			</dict>
			<key>17M5558b</key>
			<dict>
				<key>Beta</key>
				<integer>3</integer>
				<key>Date</key>
				<integer>20200630</integer>
			</dict>
		</dict>
		<key>14.0</key>
		<dict>
			<key>18J5313t</key>
			<dict>
				<key>Beta</key>
				<integer>1</integer>
				<key>Date</key>
				<integer>20200622</integer>
			</dict>
			<key>18J5331g</key>
			<dict>
				<key>Beta</key>
				<integer>2</integer>
				<key>Date</key>
				<integer>20200707</integer>
			</dict>
		</dict>
	</dict>
	<key>watchOS</key>
	<dict>
		<key>2.0</key>
		<dict>
			<key>13S343</key>
			<dict>
				<key>Beta</key>
				<integer>0</integer>
				<key>Date</key>
				<integer>20150909</integer>
				<key>Suffix</key>
				<string>GM</string>
			</dict>
			<key>13S5254w</key>
			<dict>
				<key>Beta</key>
				<integer>1</integer>
				<key>Date</key>
				<integer>20150608</integer>
			</dict>
			<key>13S5255c</key>
			<dict>
				<key>Beta</key>
				<integer>2</integer>
				<key>Date</key>
				<integer>20150623</integer>
			</dict>
			<key>13S5255d</key>
			<dict>
				<key>Beta</key>
				<integer>3</integer>
				<key>Date</key>
				<integer>20150623</integer>
			</dict>
			<key>13S5293f</key>
			<dict>
				<key>Beta</key>
				<integer>4</integer>
				<key>Date</key>
				<integer>20150708</integer>
			</dict>
			<key>13S5305d</key>
			<dict>
				<key>Beta</key>
				<integer>5</integer>
				<key>Date</key>
				<integer>20150721</integer>
			</dict>
			<key>13S5325c</key>
			<dict>
				<key>Beta</key>
				<integer>6</integer>
				<key>Date</key>
				<integer>20150806</integer>
			</dict>
		</dict>
		<key>2.2</key>
		<dict>
			<key>13V5098e</key>
			<dict>
				<key>Beta</key>
				<integer>1</integer>
				<key>Date</key>
				<integer>20160111</integer>
			</dict>
			<key>13V5108c</key>
			<dict>
				<key>Beta</key>
				<integer>2</integer>
				<key>Date</key>
				<integer>20160125</integer>
			</dict>
			<key>13V5117c</key>
			<dict>
				<key>Beta</key>
				<integer>3</integer>
				<key>Date</key>
				<integer>20160208</integer>
			</dict>
			<key>13V5129c</key>
			<dict>
				<key>Beta</key>
				<integer>4</integer>
				<key>Date</key>
				<integer>20160222</integer>
			</dict>
			<key>13V5141a</key>
			<dict>
				<key>Beta</key>
				<integer>5</integer>
				<key>Date</key>
				<integer>20160301</integer>
			</dict>
			<key>13V5143a</key>
			<dict>
				<key>Beta</key>
				<integer>6</integer>
				<key>Date</key>
				<integer>20160307</integer>
			</dict>
		</dict>
		<key>2.2.1</key>
		<dict>
			<key>13V413</key>
			<dict>
				<key>Beta</key>
				<integer>1</integer>
				<key>Date</key>
				<integer>20160406</integer>
			</dict>
		</dict>
		<key>2.2.2</key>
		<dict>
			<key>13V601</key>
			<dict>
				<key>Beta</key>
				<integer>1</integer>
				<key>Date</key>
				<integer>20160606</integer>
			</dict>
		</dict>
		<key>3.0</key>
		<dict>
			<key>14S5247t</key>
			<dict>
				<key>Beta</key>
				<integer>1</integer>
				<key>Date</key>
				<integer>20160613</integer>
			</dict>
			<key>14S5278d</key>
			<dict>
				<key>Beta</key>
				<integer>2</integer>
				<key>Date</key>
				<integer>20160705</integer>
			</dict>
			<key>14S5290d</key>
			<dict>
				<key>Beta</key>
				<integer>3</integer>
				<key>Date</key>
				<integer>20160718</integer>
			</dict>
			<key>14S5302d</key>
			<dict>
				<key>Beta</key>
				<integer>4</integer>
				<key>Date</key>
				<integer>20160801</integer>
			</dict>
			<key>14S5315a</key>
			<dict>
				<key>Beta</key>
				<integer>5</integer>
				<key>Date</key>
				<integer>20160809</integer>
			</dict>
			<key>14S5321a</key>
			<dict>
				<key>Beta</key>
				<integer>6</integer>
				<key>Date</key>
				<integer>20160815</integer>
			</dict>
			<key>14S326</key>
			<dict>
				<key>Beta</key>
				<integer>0</integer>
				<key>Date</key>
				<integer>20160913</integer>
			</dict>
		</dict>
		<key>3.1</key>
		<dict>
			<key>14S443</key>
			<dict>
				<key>Beta</key>
				<integer>1</integer>
				<key>Suffix</key>
				<string>Pre-release</string>
			</dict>
			<key>14S452</key>
			<dict>
				<key>Beta</key>
				<integer>1</integer>
				<key>Date</key>
				<integer>20160921</integer>
			</dict>
			<key>14S464</key>
			<dict>
				<key>Beta</key>
				<integer>2</integer>
				<key>Date</key>
				<integer>20161004</integer>
			</dict>
			<key>14S466</key>
			<dict>
				<key>Beta</key>
				<integer>3</integer>
				<key>Suffix</key>
				<string>Pre-release</string>
			</dict>
			<key>14S468</key>
			<dict>
				<key>Beta</key>
				<integer>3</integer>
				<key>Suffix</key>
				<string>Pre-release</string>
			</dict>
			<key>14S471</key>
			<dict>
				<key>Beta</key>
				<integer>0</integer>
				<key>Date</key>
				<integer>20161024</integer>
			</dict>
		</dict>
		<key>14S5862d</key>
		<dict>
			<key>Beta</key>
			<integer>1</integer>
			<key>Version</key>
			<string>3.1.1</string>
		</dict>
		<key>14S5869b</key>
		<dict>
			<key>Beta</key>
			<integer>2</integer>
		</dict>
		<key>14S5875b</key>
		<dict>
			<key>Beta</key>
			<integer>3</integer>
		</dict>
		<key>14S6958</key>
		<dict>
			<key>Beta</key>
			<integer>1</integer>
		</dict>
		<key>14S879</key>
		<dict>
			<key>Beta</key>
			<integer>4</integer>
		</dict>
		<key>14S958</key>
		<dict>
			<key>Beta</key>
			<integer>1</integer>
			<key>Version</key>
			<string>3.1.3</string>
		</dict>
		<key>14S959</key>
		<dict>
			<key>Beta</key>
			<integer>2</integer>
		</dict>
		<key>14V5205d</key>
		<dict>
			<key>Beta</key>
			<integer>1</integer>
			<key>Version</key>
			<string>3.2</string>
		</dict>
		<key>14V5214d</key>
		<dict>
			<key>Beta</key>
			<integer>2</integer>
		</dict>
		<key>14V5224d</key>
		<dict>
			<key>Beta</key>
			<integer>3</integer>
		</dict>
		<key>14V5235a</key>
		<dict>
			<key>Beta</key>
			<integer>4</integer>
			<key>Suffix</key>
			<string>Pre-release</string>
		</dict>
		<key>14V5235b</key>
		<dict>
			<key>Beta</key>
			<integer>4</integer>
		</dict>
		<key>14V5243a</key>
		<dict>
			<key>Beta</key>
			<integer>5</integer>
		</dict>
		<key>14V5245a</key>
		<dict>
			<key>Beta</key>
			<integer>6</integer>
		</dict>
		<key>14V5249a</key>
		<dict>
			<key>Beta</key>
			<integer>7</integer>
		</dict>
		<key>14V5465b</key>
		<dict>
			<key>Beta</key>
			<integer>1</integer>
			<key>Version</key>
			<string>3.2.2</string>
		</dict>
		<key>14V5475a</key>
		<dict>
			<key>Beta</key>
			<integer>2</integer>
		</dict>
		<key>14V5480a</key>
		<dict>
			<key>Beta</key>
			<integer>3</integer>
		</dict>
		<key>14V5485a</key>
		<dict>
			<key>Beta</key>
			<integer>4</integer>
		</dict>
		<key>14V5726a</key>
		<dict>
			<key>Beta</key>
			<integer>1</integer>
			<key>Version</key>
			<string>3.2.3</string>
		</dict>
		<key>14V5734a</key>
		<dict>
			<key>Beta</key>
			<integer>2</integer>
		</dict>
		<key>14V5744a</key>
		<dict>
			<key>Beta</key>
			<integer>3</integer>
		</dict>
		<key>14V5751a</key>
		<dict>
			<key>Beta</key>
			<integer>4</integer>
		</dict>
		<key>15R372</key>
		<dict>
			<key>Beta</key>
			<integer>0</integer>
		</dict>
		<key>15R5281f</key>
		<dict>
			<key>Beta</key>
			<integer>1</integer>
			<key>Version</key>
			<string>4.0</string>
		</dict>
		<key>15R5307f</key>
		<dict>
			<key>Beta</key>
			<integer>2</integer>
		</dict>
		<key>15R5321h</key>
		<dict>
			<key>Beta</key>
			<integer>3</integer>
		</dict>
		<key>15R5331g</key>
		<dict>
			<key>Beta</key>
			<integer>4</integer>
		</dict>
		<key>15R5345g</key>
		<dict>
			<key>Beta</key>
			<integer>5</integer>
		</dict>
		<key>15R5357b</key>
		<dict>
			<key>Beta</key>
			<integer>6</integer>
		</dict>
		<key>15R5365a</key>
		<dict>
			<key>Beta</key>
			<integer>7</integer>
		</dict>
		<key>15R5371a</key>
		<dict>
			<key>Beta</key>
			<integer>8</integer>
		</dict>
		<key>15R5823c</key>
		<dict>
			<key>Beta</key>
			<integer>1</integer>
			<key>Version</key>
			<string>4.1</string>
		</dict>
		<key>15R5835d</key>
		<dict>
			<key>Beta</key>
			<integer>2</integer>
		</dict>
		<key>15R5843a</key>
		<dict>
			<key>Beta</key>
			<integer>3</integer>
		</dict>
		<key>15S5085b</key>
		<dict>
			<key>Beta</key>
			<integer>1</integer>
			<key>Version</key>
			<string>4.2</string>
		</dict>
		<key>15S5090c</key>
		<dict>
			<key>Beta</key>
			<integer>2</integer>
		</dict>
		<key>15S5100a</key>
		<dict>
			<key>Beta</key>
			<integer>3</integer>
		</dict>
		<key>15S5102b</key>
		<dict>
			<key>Beta</key>
			<integer>4</integer>
		</dict>
		<key>15S5530d</key>
		<dict>
			<key>Beta</key>
			<integer>1</integer>
			<key>Version</key>
			<string>4.2.2</string>
		</dict>
		<key>15S5534a</key>
		<dict>
			<key>Beta</key>
			<integer>2</integer>
		</dict>
		<key>15S5536a</key>
		<dict>
			<key>Beta</key>
			<integer>3</integer>
		</dict>
		<key>15S5540a</key>
		<dict>
			<key>Beta</key>
			<integer>4</integer>
		</dict>
		<key>15T5165e</key>
		<dict>
			<key>Beta</key>
			<integer>1</integer>
			<key>Version</key>
			<string>4.3</string>
		</dict>
		<key>15T5176c</key>
		<dict>
			<key>Beta</key>
			<integer>2</integer>
		</dict>
		<key>15T5187e</key>
		<dict>
			<key>Beta</key>
			<integer>3</integer>
		</dict>
		<key>15T5199f</key>
		<dict>
			<key>Beta</key>
			<integer>4</integer>
		</dict>
		<key>15T5209a</key>
		<dict>
			<key>Beta</key>
			<integer>5</integer>
		</dict>
		<key>15T5212a</key>
		<dict>
			<key>Beta</key>
			<integer>6</integer>
		</dict>
		<key>15T5535b</key>
		<dict>
			<key>Beta</key>
			<integer>1</integer>
			<key>Version</key>
			<string>4.3.1</string>
		</dict>
		<key>15T5545b</key>
		<dict>
			<key>Beta</key>
			<integer>2</integer>
		</dict>
		<key>15T5555c</key>
		<dict>
			<key>Beta</key>
			<integer>3</integer>
			<key>Date</key>
			<integer>20180501</integer>
		</dict>
		<key>15T5565a</key>
		<dict>
			<key>Beta</key>
			<integer>4</integer>
		</dict>
		<key>15T5567a</key>
		<dict>
			<key>Beta</key>
			<integer>5</integer>
		</dict>
		<key>15U5053b</key>
		<dict>
			<key>Beta</key>
			<integer>1</integer>
			<key>Version</key>
			<string>4.3.2</string>
		</dict>
		<key>15U5062a</key>
		<dict>
			<key>Beta</key>
			<integer>2</integer>
		</dict>
		<key>15U5069a</key>
		<dict>
			<key>Beta</key>
			<integer>3</integer>
		</dict>
		<key>16R5283q</key>
		<dict>
			<key>Beta</key>
			<integer>1</integer>
			<key>Version</key>
			<string>5.0</string>
		</dict>
		<key>16R5283r</key>
		<dict>
			<key>Beta</key>
			<integer>1</integer>
			<key>Suffix</key>
			<string>Update</string>
		</dict>
		<key>16R5303d</key>
		<dict>
			<key>Beta</key>
			<integer>2</integer>
		</dict>
		<key>16R5313d</key>
		<dict>
			<key>Beta</key>
			<integer>3</integer>
		</dict>
		<key>16R5322d</key>
		<dict>
			<key>Beta</key>
			<integer>4</integer>
			<key>Date</key>
			<integer>20180717</integer>
		</dict>
		<key>16R5334f</key>
		<dict>
			<key>Beta</key>
			<integer>5</integer>
		</dict>
		<key>16R5340g</key>
		<dict>
			<key>Beta</key>
			<integer>6</integer>
		</dict>
		<key>16R5349a</key>
		<dict>
			<key>Beta</key>
			<integer>7</integer>
			<key>Date</key>
			<integer>20180813</integer>
		</dict>
		<key>16R5357a</key>
		<dict>
			<key>Beta</key>
			<integer>8</integer>
			<key>Date</key>
			<integer>20180820</integer>
		</dict>
		<key>16R5360a</key>
		<dict>
			<key>Beta</key>
			<integer>9</integer>
			<key>Date</key>
			<integer>20180824</integer>
		</dict>
		<key>16R5363a</key>
		<dict>
			<key>Beta</key>
			<integer>10</integer>
			<key>Date</key>
			<integer>20180831</integer>
		</dict>
		<key>16R5559d</key>
		<dict>
			<key>Beta</key>
			<integer>1</integer>
		</dict>
		<key>16R5568d</key>
		<dict>
			<key>Beta</key>
			<integer>2</integer>
		</dict>
		<key>16R5577c</key>
		<dict>
			<key>Beta</key>
			<integer>3</integer>
		</dict>
		<key>16R5584a</key>
		<dict>
			<key>Beta</key>
			<integer>4</integer>
		</dict>
		<key>16R5589c</key>
		<dict>
			<key>Beta</key>
			<integer>5</integer>
		</dict>
		<key>16S46</key>
		<dict>
			<key>Date</key>
			<integer>20181206</integer>
		</dict>
		<key>16S5042a</key>
		<dict>
			<key>Beta</key>
			<integer>1</integer>
			<key>Date</key>
			<integer>20181107</integer>
		</dict>
		<key>16S5046a</key>
		<dict>
			<key>Beta</key>
			<integer>2</integer>
			<key>Date</key>
			<integer>20181115</integer>
		</dict>
		<key>16S535</key>
		<dict>
			<key>Date</key>
			<integer>20190122</integer>
		</dict>
		<key>16S5523a</key>
		<dict>
			<key>Beta</key>
			<integer>1</integer>
			<key>Date</key>
			<integer>20181210</integer>
		</dict>
		<key>16S5531a</key>
		<dict>
			<key>Beta</key>
			<integer>2</integer>
			<key>Date</key>
			<integer>20181219</integer>
		</dict>
		<key>16S5535a</key>
		<dict>
			<key>Beta</key>
			<integer>3</integer>
			<key>Date</key>
			<integer>20190107</integer>
		</dict>
		<key>16T225</key>
		<dict>
			<key>Date</key>
			<integer>20190327</integer>
		</dict>
		<key>16T5181f</key>
		<dict>
			<key>Beta</key>
			<integer>1</integer>
			<key>Date</key>
			<integer>20190124</integer>
		</dict>
		<key>16T5191d</key>
		<dict>
			<key>Beta</key>
			<integer>2</integer>
			<key>Date</key>
			<integer>20190204</integer>
		</dict>
		<key>16T5201c</key>
		<dict>
			<key>Beta</key>
			<integer>3</integer>
			<key>Date</key>
			<integer>20190219</integer>
		</dict>
		<key>16T5212e</key>
		<dict>
			<key>Beta</key>
			<integer>4</integer>
			<key>Date</key>
			<integer>20190304</integer>
		</dict>
		<key>16T5222a</key>
		<dict>
			<key>Beta</key>
			<integer>5</integer>
			<key>Date</key>
			<integer>20190311</integer>
		</dict>
		<key>16T5225a</key>
		<dict>
			<key>Beta</key>
			<integer>6</integer>
			<key>Date</key>
			<integer>20190318</integer>
			<key>Version</key>
			<string>5.2</string>
		</dict>
		<key>16U113</key>
		<dict>
			<key>Date</key>
			<integer>20190513</integer>
		</dict>
		<key>16U5079d</key>
		<dict>
			<key>Beta</key>
			<integer>1</integer>
			<key>Date</key>
			<integer>20190328</integer>
		</dict>
		<key>16U5091b</key>
		<dict>
			<key>Beta</key>
			<integer>2</integer>
			<key>Date</key>
			<integer>20190408</integer>
		</dict>
		<key>16U5101c</key>
		<dict>
			<key>Beta</key>
			<integer>3</integer>
			<key>Date</key>
			<integer>20190422</integer>
		</dict>
		<key>16U5110a</key>
		<dict>
			<key>Beta</key>
			<integer>4</integer>
			<key>Date</key>
			<integer>20190429</integer>
		</dict>
		<key>16U5113a</key>
		<dict>
			<key>Beta</key>
			<integer>5</integer>
			<key>Date</key>
			<integer>20190507</integer>
		</dict>
		<key>16U5526f</key>
		<dict>
			<key>Beta</key>
			<integer>1</integer>
			<key>Date</key>
			<integer>20190515</integer>
		</dict>
		<key>16U5537b</key>
		<dict>
			<key>Beta</key>
			<integer>2</integer>
			<key>Date</key>
			<integer>20190528</integer>
		</dict>
		<key>16U5545c</key>
		<dict>
			<key>Beta</key>
			<integer>3</integer>
			<key>Date</key>
			<integer>20190611</integer>
		</dict>
		<key>16U5558b</key>
		<dict>
			<key>Beta</key>
			<integer>4</integer>
			<key>Date</key>
			<integer>20190624</integer>
		</dict>
		<key>16U5566a</key>
		<dict>
			<key>Beta</key>
			<integer>5</integer>
			<key>Date</key>
			<integer>20190709</integer>
		</dict>
		<key>16U5569a</key>
		<dict>
			<key>Beta</key>
			<integer>6</integer>
			<key>Date</key>
			<integer>20190716</integer>
		</dict>
		<key>16U569</key>
		<dict>
			<key>Date</key>
			<integer>20190722</integer>
		</dict>
		<key>16U600</key>
		<dict>
			<key>Date</key>
			<integer>20190826</integer>
		</dict>
		<key>16U611</key>
		<dict>
			<key>Date</key>
			<real>20190926</real>
		</dict>
		<key>16U674</key>
		<dict>
			<key>Date</key>
			<integer>20200518</integer>
			<key>Version</key>
			<string>5.3.7</string>
		</dict>
		<key>17R5491t</key>
		<dict>
			<key>Beta</key>
			<integer>1</integer>
			<key>Date</key>
			<integer>20190603</integer>
		</dict>
		<key>17R5507l</key>
		<dict>
			<key>Beta</key>
			<integer>2</integer>
			<key>Date</key>
			<integer>20190617</integer>
		</dict>
		<key>17R5521e</key>
		<dict>
			<key>Beta</key>
			<integer>3</integer>
			<key>Date</key>
			<integer>20190702</integer>
		</dict>
		<key>17R5532f</key>
		<dict>
			<key>Beta</key>
			<integer>4</integer>
			<key>Date</key>
			<integer>20190717</integer>
		</dict>
		<key>17R5546f</key>
		<dict>
			<key>Beta</key>
			<integer>5</integer>
			<key>Date</key>
			<integer>20190730</integer>
		</dict>
		<key>17R5556d</key>
		<dict>
			<key>Beta</key>
			<integer>6</integer>
			<key>Date</key>
			<integer>20190807</integer>
		</dict>
		<key>17R5566a</key>
		<dict>
			<key>Beta</key>
			<integer>7</integer>
			<key>Date</key>
			<integer>20190815</integer>
		</dict>
		<key>17R5571a</key>
		<dict>
			<key>Beta</key>
			<integer>8</integer>
			<key>Date</key>
			<integer>20190821</integer>
		</dict>
		<key>17R5575a</key>
		<dict>
			<key>Beta</key>
			<integer>9</integer>
			<key>Date</key>
			<integer>20190827</integer>
			<key>Version</key>
			<string>6.0</string>
		</dict>
		<key>17R575</key>
		<dict>
			<key>Date</key>
			<integer>20190911</integer>
		</dict>
		<key>17R605</key>
		<dict>
			<key>Date</key>
			<integer>20190930</integer>
		</dict>
		<key>17T620</key>
		<dict>
			<key>Date</key>
			<integer>20200601</integer>
			<key>Version</key>
			<string>6.2.6</string>
		</dict>
		<key>17U5559d</key>
		<dict>
			<key>Beta</key>
			<integer>3</integer>
			<key>Date</key>
			<integer>20200630</integer>
			<key>Version</key>
			<string>6.2.8</string>
		</dict>
		<key>18R5310a</key>
		<dict>
			<key>Beta</key>
			<integer>1</integer>
			<key>Date</key>
			<integer>20200622</integer>
			<key>Version</key>
			<string>7.0</string>
		</dict>
		<key>18R5327h</key>
		<dict>
			<key>Beta</key>
			<integer>2</integer>
			<key>Date</key>
			<integer>20200707</integer>
			<key>Version</key>
			<string>7.0</string>
		</dict>
	</dict>
</dict>
</plist>
