<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Apple TV</key>
	<dict>
		<key>Apple TV (2nd generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>K66AP</key>
				<string>AppleTV2,1</string>
			</dict>
			<key>PallasRequests</key>
			<false/>
		</dict>
		<key>Apple TV (3rd generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>J33AP</key>
				<string>AppleTV3,1</string>
				<key>J33IAP</key>
				<string>AppleTV3,2</string>
			</dict>
			<key>PallasRequests</key>
			<false/>
		</dict>
		<key>Apple TV (4th generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>J42dAP</key>
				<string>AppleTV5,3</string>
			</dict>
		</dict>
		<key>Apple TV 4K</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>J105aAP</key>
				<string>AppleTV6,2</string>
			</dict>
		</dict>
	</dict>
	<key>Apple Watch</key>
	<dict>
		<key>Apple Watch 1st generation</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>N27aAP</key>
				<string>Watch1,1</string>
				<key>N28aAP</key>
				<string>Watch1,2</string>
			</dict>
		</dict>
		<key>Apple Watch Series 1</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>N27dAP</key>
				<string>Watch2,6</string>
				<key>N28dAP</key>
				<string>Watch2,7</string>
			</dict>
		</dict>
		<key>Apple Watch Series 2</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>N74AP</key>
				<string>Watch2,3</string>
				<key>N75AP</key>
				<string>Watch2,4</string>
			</dict>
		</dict>
		<key>Apple Watch Series 3</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>N111sAP</key>
				<string>Watch3,1</string>
				<key>N111bAP</key>
				<string>Watch3,2</string>
				<key>N121sAP</key>
				<string>Watch3,3</string>
				<key>N121bAP</key>
				<string>Watch3,4</string>
			</dict>
		</dict>
		<key>Apple Watch Series 4</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>N131sAP</key>
				<string>Watch4,1</string>
				<key>N131bAP</key>
				<string>Watch4,2</string>
				<key>N141sAP</key>
				<string>Watch4,3</string>
				<key>N141bAP</key>
				<string>Watch4,4</string>
			</dict>
		</dict>
		<key>Apple Watch Series 5</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>N144sAP</key>
				<string>Watch5,1</string>
				<key>N144bAP</key>
				<string>Watch5,2</string>
				<key>N146sAP</key>
				<string>Watch5,3</string>
				<key>N146bAP</key>
				<string>Watch5,4</string>
			</dict>
		</dict>
		<key>Apple Watch Series 6</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>N157sAP</key>
				<string>Watch6,1</string>
				<key>N157bAP</key>
				<string>Watch6,2</string>
				<key>N158sAP</key>
				<string>Watch6,3</string>
				<key>N158bAP</key>
				<string>Watch6,4</string>
			</dict>
		</dict>
	</dict>
	<key>HomePod</key>
	<dict>
		<key>HomePod 1st generation</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>B238aAP</key>
				<string>AudioAccessory1,1</string>
				<key>B238AP</key>
				<string>AudioAccessory1,2</string>
			</dict>
		</dict>
	</dict>
	<key>iMac</key>
	<dict>
		<key>27&quot; iMac (Mid 2019)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>Mac-AA95B1DDAB278B95</key>
				<string>iMac19,1</string>
			</dict>
		</dict>
	</dict>
	<key>iPad</key>
	<dict>
		<key>iPad (1st generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>K48AP</key>
				<string>iPad1,1</string>
			</dict>
			<key>PallasRequests</key>
			<false/>
		</dict>
		<key>iPad 2</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>K93AP</key>
				<string>iPad2,1</string>
				<key>K94AP</key>
				<string>iPad2,2</string>
				<key>K95AP</key>
				<string>iPad2,3</string>
				<key>K93AAP</key>
				<string>iPad2,4</string>
			</dict>
			<key>PallasRequests</key>
			<false/>
		</dict>
		<key>iPad (3rd generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J1AP</key>
				<string>iPad3,1</string>
				<key>J2AP</key>
				<string>iPad3,2</string>
				<key>J2AAP</key>
				<string>iPad3,3</string>
			</dict>
			<key>PallasRequests</key>
			<false/>
		</dict>
		<key>iPad (4th generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>P101AP</key>
				<string>iPad3,4</string>
				<key>P102AP</key>
				<string>iPad3,5</string>
				<key>P103AP</key>
				<string>iPad3,6</string>
			</dict>
			<key>PallasRequests</key>
			<false/>
		</dict>
		<key>iPad (5th generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>4</integer>
			<key>Models</key>
			<dict>
				<key>J71sAP</key>
				<string>iPad6,11</string>
				<key>J71tAP</key>
				<string>iPad6,11</string>
				<key>J72sAP</key>
				<string>iPad6,12</string>
				<key>J72tAP</key>
				<string>iPad6,12</string>
			</dict>
		</dict>
		<key>iPad (6th generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J71bAP</key>
				<string>iPad7,5</string>
				<key>J72bAP</key>
				<string>iPad7,6</string>
			</dict>
		</dict>
		<key>iPad (7th generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J171AP</key>
				<string>iPad7,11</string>
				<key>J172AP</key>
				<string>iPad7,12</string>
			</dict>
		</dict>
	</dict>
	<key>iPad Air</key>
	<dict>
		<key>iPad Air (1st generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J71AP</key>
				<string>iPad4,1</string>
				<key>J72AP</key>
				<string>iPad4,2</string>
				<key>J73AP</key>
				<string>iPad4,3</string>
			</dict>
		</dict>
		<key>iPad Air 2</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J81AP</key>
				<string>iPad5,3</string>
				<key>J82AP</key>
				<string>iPad5,4</string>
			</dict>
		</dict>
		<key>iPad Air (3rd generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J217AP</key>
				<string>iPad11,3</string>
				<key>J218AP</key>
				<string>iPad11,4</string>
			</dict>
		</dict>
	</dict>
	<key>iPad Pro</key>
	<dict>
		<key>iPad Pro (12.9-inch 1st generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J98aAP</key>
				<string>iPad6,7</string>
				<key>J99aAP</key>
				<string>iPad6,8</string>
			</dict>
		</dict>
		<key>iPad Pro (9.7-inch)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J127AP</key>
				<string>iPad6,3</string>
				<key>J128AP</key>
				<string>iPad6,4</string>
			</dict>
		</dict>
		<key>iPad Pro (12.9-inch 2nd generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J120AP</key>
				<string>iPad7,1</string>
				<key>J121AP</key>
				<string>iPad7,2</string>
			</dict>
		</dict>
		<key>iPad Pro (10.5-inch)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J207AP</key>
				<string>iPad7,3</string>
				<key>J208AP</key>
				<string>iPad7,4</string>
			</dict>
		</dict>
		<key>iPad Pro (11-inch)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J317AP</key>
				<string>iPad8,1</string>
				<key>J317xAP</key>
				<string>iPad8,2</string>
				<key>J318AP</key>
				<string>iPad8,3</string>
				<key>J318xAP</key>
				<string>iPad8,4</string>
			</dict>
		</dict>
		<key>iPad Pro (12.9-inch 3rd generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J320AP</key>
				<string>iPad8,5</string>
				<key>J320xAP</key>
				<string>iPad8,6</string>
				<key>J321AP</key>
				<string>iPad8,7</string>
				<key>J321xAP</key>
				<string>iPad8,8</string>
			</dict>
		</dict>
		<key>iPad Pro (11-inch 2nd generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J417AP</key>
				<string>iPad8,9</string>
				<key>J418AP</key>
				<string>iPad8,10</string>
			</dict>
		</dict>
		<key>iPad Pro (12.9-inch 4th generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J420AP</key>
				<string>iPad8,11</string>
				<key>J421AP</key>
				<string>iPad8,12</string>
			</dict>
		</dict>
	</dict>
	<key>iPad mini</key>
	<dict>
		<key>iPad mini (1st generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>P105AP</key>
				<string>iPad2,5</string>
				<key>P106AP</key>
				<string>iPad2,6</string>
				<key>P107AP</key>
				<string>iPad2,7</string>
			</dict>
			<key>PallasRequests</key>
			<false/>
		</dict>
		<key>iPad mini 2</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J85AP</key>
				<string>iPad4,4</string>
				<key>J86AP</key>
				<string>iPad4,5</string>
				<key>J87AP</key>
				<string>iPad4,6</string>
			</dict>
		</dict>
		<key>iPad mini 3</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J85mAP</key>
				<string>iPad4,7</string>
				<key>J86mAP</key>
				<string>iPad4,8</string>
				<key>J87mAP</key>
				<string>iPad4,9</string>
			</dict>
		</dict>
		<key>iPad mini 4</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J96AP</key>
				<string>iPad5,1</string>
				<key>J97AP</key>
				<string>iPad5,2</string>
			</dict>
		</dict>
		<key>iPad mini (5th generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J210AP</key>
				<string>iPad11,1</string>
				<key>J211AP</key>
				<string>iPad11,2</string>
			</dict>
		</dict>
	</dict>
	<key>iPhone</key>
	<dict>
		<key>iPhone 3GS</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>N88AP</key>
				<string>iPhone2,1</string>
			</dict>
			<key>PallasRequests</key>
			<false/>
		</dict>
		<key>iPhone 4</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>N90AP</key>
				<string>iPhone3,1</string>
				<key>N90BAP</key>
				<string>iPhone3,2</string>
				<key>N92AP</key>
				<string>iPhone3,3</string>
			</dict>
			<key>PallasRequests</key>
			<false/>
		</dict>
		<key>iPhone 4S</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>N94AP</key>
				<string>iPhone4,1</string>
			</dict>
			<key>PallasRequests</key>
			<false/>
		</dict>
		<key>iPhone 5</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>N41AP</key>
				<string>iPhone5,1</string>
				<key>N42AP</key>
				<string>iPhone5,2</string>
			</dict>
			<key>PallasRequests</key>
			<false/>
		</dict>
		<key>iPhone 5C</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>N48AP</key>
				<string>iPhone5,3</string>
				<key>N49AP</key>
				<string>iPhone5,4</string>
			</dict>
			<key>PallasRequests</key>
			<false/>
		</dict>
		<key>iPhone 5S</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>N51AP</key>
				<string>iPhone6,1</string>
				<key>N53AP</key>
				<string>iPhone6,2</string>
			</dict>
		</dict>
		<key>iPhone 6</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>N61AP</key>
				<string>iPhone7,2</string>
			</dict>
		</dict>
		<key>iPhone 6 Plus</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>N56AP</key>
				<string>iPhone7,1</string>
			</dict>
		</dict>
		<key>iPhone 6S</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>N71AP</key>
				<string>iPhone8,1</string>
				<key>N71mAP</key>
				<string>iPhone8,1</string>
			</dict>
		</dict>
		<key>iPhone 6S Plus</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>N66AP</key>
				<string>iPhone8,2</string>
				<key>N66mAP</key>
				<string>iPhone8,2</string>
			</dict>
		</dict>
		<key>iPhone SE</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>N69AP</key>
				<string>iPhone8,4</string>
				<key>N69uAP</key>
				<string>iPhone8,4</string>
			</dict>
		</dict>
		<key>iPhone 7</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>D10AP</key>
				<string>iPhone9,1</string>
				<key>D101AP</key>
				<string>iPhone9,3</string>
			</dict>
		</dict>
		<key>iPhone 7 Plus</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>D11AP</key>
				<string>iPhone9,2</string>
				<key>D111AP</key>
				<string>iPhone9,4</string>
			</dict>
		</dict>
		<key>iPhone 8</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>D20AP</key>
				<string>iPhone10,1</string>
				<key>D201AP</key>
				<string>iPhone10,4</string>
			</dict>
		</dict>
		<key>iPhone 8 Plus</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>D21AP</key>
				<string>iPhone10,2</string>
				<key>D211AP</key>
				<string>iPhone10,5</string>
			</dict>
		</dict>
		<key>iPhone X</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>D22AP</key>
				<string>iPhone10,3</string>
				<key>D221AP</key>
				<string>iPhone10,6</string>
			</dict>
		</dict>
		<key>iPhone XR</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>N841AP</key>
				<string>iPhone11,8</string>
			</dict>
		</dict>
		<key>iPhone XS</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>D321AP</key>
				<string>iPhone11,2</string>
			</dict>
		</dict>
		<key>iPhone XS Max</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>D331AP</key>
				<string>iPhone11,4</string>
				<key>D331pAP</key>
				<string>iPhone11,6</string>
			</dict>
		</dict>
		<key>iPhone 11</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>N104AP</key>
				<string>iPhone12,1</string>
			</dict>
		</dict>
		<key>iPhone 11 Pro</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>D421AP</key>
				<string>iPhone12,3</string>
			</dict>
		</dict>
		<key>iPhone 11 Pro Max</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>D431AP</key>
				<string>iPhone12,5</string>
			</dict>
		</dict>
		<key>iPhone SE (2nd generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>D79AP</key>
				<string>iPhone12,8</string>
			</dict>
		</dict>
		<key>iPhone 12</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>D53gAP</key>
				<string>iPhone13,2</string>
			</dict>
		</dict>
		<key>iPhone 12 mini</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>D52gAP</key>
				<string>iPhone13,1</string>
			</dict>
		</dict>
		<key>iPhone 12 Pro</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>D53pAP</key>
				<string>iPhone13,3</string>
			</dict>
		</dict>
		<key>iPhone 12 Pro Max</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>D54pAP</key>
				<string>iPhone13,4</string>
			</dict>
		</dict>
	</dict>
	<key>iPod touch</key>
	<dict>
		<key>iPod touch (3rd generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>N18AP</key>
				<string>iPod3,1</string>
			</dict>
			<key>PallasRequests</key>
			<false/>
		</dict>
		<key>iPod touch (4th generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>N81AP</key>
				<string>iPod4,1</string>
			</dict>
			<key>PallasRequests</key>
			<false/>
		</dict>
		<key>iPod touch (5th generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>N78AP</key>
				<string>iPod5,1</string>
			</dict>
			<key>PallasRequests</key>
			<false/>
		</dict>
		<key>iPod touch (6th generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>N102AP</key>
				<string>iPod7,1</string>
			</dict>
		</dict>
		<key>iPod touch (7th generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>N112AP</key>
				<string>iPod9,1</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
