<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>iPad</key>
        <dict>
            <key>iPad (1st generation)</key>
            <dict>
                <key>Device</key>
                <string>iPad1,1</string>
                <key>HeaderLevel</key>
                <integer>2</integer>
                <key>Models</key>
                <array>
                    <string>K48AP</string>
                </array>
            </dict>
            <key>iPad 2 (K93AP)</key>
            <dict>
                <key>Device</key>
                <string>iPad2,1</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>K93AP</string>
                </array>
            </dict>
            <key>iPad 2 (K94AP)</key>
            <dict>
                <key>Device</key>
                <string>iPad2,2</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>K94AP</string>
                </array>
            </dict>
            <key>iPad 2 (K95AP)</key>
            <dict>
                <key>Device</key>
                <string>iPad2,3</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>K95AP</string>
                </array>
            </dict>
            <key>iPad 2 (K93AAP)</key>
            <dict>
                <key>Device</key>
                <string>iPad2,4</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>K93AAP</string>
                </array>
            </dict>
            <key>iPad 3rd generation (J1AP)</key>
            <dict>
                <key>Device</key>
                <string>iPad3,1</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>J1AP</string>
                </array>
            </dict>
            <key>iPad 3rd generation (J2AP)</key>
            <dict>
                <key>Device</key>
                <string>iPad3,2</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>J2AP</string>
                </array>
            </dict>
            <key>iPad 3rd generation (J2AAP)</key>
            <dict>
                <key>Device</key>
                <string>iPad3,3</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>J2AAP</string>
                </array>
            </dict>
            <key>iPad 4th generation (P101AP)</key>
            <dict>
                <key>Device</key>
                <string>iPad3,4</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>P101AP</string>
                </array>
            </dict>
            <key>iPad 4th generation (P102AP)</key>
            <dict>
                <key>Device</key>
                <string>iPad3,5</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>P102AP</string>
                </array>
            </dict>
            <key>iPad 4th generation (P103AP)</key>
            <dict>
                <key>Device</key>
                <string>iPad3,6</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>P103AP</string>
                </array>
            </dict>
            <key>iPad Air (J71AP)</key>
            <dict>
                <key>Device</key>
                <string>iPad4,1</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>J71AP</string>
                </array>
            </dict>
            <key>iPad Air (J72AP)</key>
            <dict>
                <key>Device</key>
                <string>iPad4,2</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>J72AP</string>
                </array>
            </dict>
            <key>iPad Air (J73AP)</key>
            <dict>
                <key>Device</key>
                <string>iPad4,3</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>J73AP</string>
                </array>
            </dict>
            <key>iPad Air 2 (J81AP)</key>
            <dict>
                <key>Device</key>
                <string>iPad5,3</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>J81AP</string>
                </array>
            </dict>
            <key>iPad Air 2 (J82AP)</key>
            <dict>
                <key>Device</key>
                <string>iPad5,4</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>J82AP</string>
                </array>
            </dict>
            <key>iPad Pro 12.9-inch 1st generation (J98aAP)</key>
            <dict>
                <key>Device</key>
                <string>iPad6,7</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>J98aAP</string>
                </array>
            </dict>
            <key>iPad Pro 12.9-inch 1st generation (J99aAP)</key>
            <dict>
                <key>Device</key>
                <string>iPad6,8</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>J99aAP</string>
                </array>
            </dict>
            <key>iPad Pro 9.7-inch (J127AP)</key>
            <dict>
                <key>Device</key>
                <string>iPad6,3</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>J127AP</string>
                </array>
            </dict>
            <key>iPad Pro 9.7-inch (J128AP)</key>
            <dict>
                <key>Device</key>
                <string>iPad6,4</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>J128AP</string>
                </array>
            </dict>
            <key>iPad 5th generation (Wi-Fi)</key>
            <dict>
                <key>Device</key>
                <string>iPad6,11</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>J71sAP</string>
                    <string>J71tAP</string>
                </array>
            </dict>
            <key>iPad 5th generation (Cellular)</key>
            <dict>
                <key>Device</key>
                <string>iPad6,12</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>J72sAP</string>
                    <string>J72tAP</string>
                </array>
            </dict>
        </dict>
        <key>iPhone</key>
        <dict>
            <key>iPhone 3GS</key>
            <dict>
                <key>Device</key>
                <string>iPhone2,1</string>
                <key>HeaderLevel</key>
                <integer>2</integer>
                <key>Models</key>
                <array>
                    <string>N88AP</string>
                </array>
            </dict>
            <key>iPhone 4 (N90AP)</key>
            <dict>
                <key>Device</key>
                <string>iPhone3,1</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>N90AP</string>
                </array>
            </dict>
            <key>iPhone 4 (N90BAP)</key>
            <dict>
                <key>Device</key>
                <string>iPhone3,2</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>N90BAP</string>
                </array>
            </dict>
            <key>iPhone 4 (N92AP)</key>
            <dict>
                <key>Device</key>
                <string>iPhone3,3</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>N92AP</string>
                </array>
            </dict>
            <key>iPhone 4S</key>
            <dict>
                <key>Device</key>
                <string>iPhone4,1</string>
                <key>HeaderLevel</key>
                <integer>2</integer>
                <key>Models</key>
                <array>
                    <string>N94AP</string>
                </array>
            </dict>
            <key>iPhone 5 (N41AP)</key>
            <dict>
                <key>Device</key>
                <string>iPhone5,1</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>N41AP</string>
                </array>
            </dict>
            <key>iPhone 5 (N42AP)</key>
            <dict>
                <key>Device</key>
                <string>iPhone5,2</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>N42AP</string>
                </array>
            </dict>
            <key>iPhone 5C (N48AP)</key>
            <dict>
                <key>Device</key>
                <string>iPhone5,3</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>N48AP</string>
                </array>
            </dict>
            <key>iPhone 5C (N49AP)</key>
            <dict>
                <key>Device</key>
                <string>iPhone5,4</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>N49AP</string>
                </array>
            </dict>
            <key>iPhone 5S (N51AP)</key>
            <dict>
                <key>Device</key>
                <string>iPhone6,1</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>N51AP</string>
                </array>
            </dict>
            <key>iPhone 5S (N53AP)</key>
            <dict>
                <key>Device</key>
                <string>iPhone6,2</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>N53AP</string>
                </array>
            </dict>
            <key>iPhone 6</key>
            <dict>
                <key>Device</key>
                <string>iPhone7,2</string>
                <key>HeaderLevel</key>
                <integer>2</integer>
                <key>Models</key>
                <array>
                    <string>N61AP</string>
                </array>
            </dict>
            <key>iPhone 6 Plus</key>
            <dict>
                <key>Device</key>
                <string>iPhone7,1</string>
                <key>HeaderLevel</key>
                <integer>2</integer>
                <key>Models</key>
                <array>
                    <string>N56AP</string>
                </array>
            </dict>
            <key>iPhone 6S</key>
            <dict>
                <key>Device</key>
                <string>iPhone8,1</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>N71AP</string>
                    <string>N71mAP</string>
                </array>
            </dict>
            <key>iPhone 6S Plus</key>
            <dict>
                <key>Device</key>
                <string>iPhone8,2</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>N66AP</string>
                    <string>N66mAP</string>
                </array>
            </dict>
            <key>iPhone SE</key>
            <dict>
                <key>Device</key>
                <string>iPhone8,4</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>N69AP</string>
                    <string>N69uAP</string>
                </array>
            </dict>
            <key>iPhone 7 (D10AP)</key>
            <dict>
                <key>Device</key>
                <string>iPhone9,1</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>D10AP</string>
                </array>
            </dict>
            <key>iPhone 7 Plus (D11AP)</key>
            <dict>
                <key>Device</key>
                <string>iPhone9,2</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>D11AP</string>
                </array>
            </dict>
            <key>iPhone 7 (D101AP)</key>
            <dict>
                <key>Device</key>
                <string>iPhone9,3</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>D101AP</string>
                </array>
            </dict>
            <key>iPhone 7 Plus (D111AP)</key>
            <dict>
                <key>Device</key>
                <string>iPhone9,4</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>D111AP</string>
                </array>
            </dict>
            <key>iPhone 8 (D20AP)</key>
            <dict>
                <key>Device</key>
                <string>iPhone10,1</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>D20AP</string>
                </array>
            </dict>
            <key>iPhone 8 (D201AP)</key>
            <dict>
                <key>Device</key>
                <string>iPhone10,4</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>D201AP</string>
                </array>
            </dict>
            <key>iPhone 8 Plus (D21AP)</key>
            <dict>
                <key>Device</key>
                <string>iPhone10,2</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>D21AP</string>
                </array>
            </dict>
            <key>iPhone 8 Plus (D211AP)</key>
            <dict>
                <key>Device</key>
                <string>iPhone10,5</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>D211AP</string>
                </array>
            </dict>
            <key>iPhone X (D22AP)</key>
            <dict>
                <key>Device</key>
                <string>iPhone10,3</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>D22AP</string>
                </array>
            </dict>
            <key>iPhone X (D221AP)</key>
            <dict>
                <key>Device</key>
                <string>iPhone10,6</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>D221AP</string>
                </array>
            </dict>
            <key>iPhone XR</key>
            <dict>
                <key>Device</key>
                <string>iPhone11,8</string>
                <key>HeaderLevel</key>
                <integer>2</integer>
                <key>Models</key>
                <array>
                    <string>N841AP</string>
                </array>
            </dict>
            <key>iPhone XS</key>
            <dict>
                <key>Device</key>
                <string>iPhone11,2</string>
                <key>HeaderLevel</key>
                <integer>2</integer>
                <key>Models</key>
                <array>
                    <string>D321AP</string>
                </array>
            </dict>
            <key>iPhone XS Max (D331AP)</key>
            <dict>
                <key>Device</key>
                <string>iPhone11,4</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>D331AP</string>
                </array>
            </dict>
            <key>iPhone XS Max (D331pAP)</key>
            <dict>
                <key>Device</key>
                <string>iPhone11,6</string>
                <key>HeaderLevel</key>
                <integer>3</integer>
                <key>Models</key>
                <array>
                    <string>D331pAP</string>
                </array>
            </dict>
        </dict>
        <key>iPod touch</key>
        <dict>
            <key>iPod touch (3rd generation)</key>
            <dict>
                <key>Device</key>
                <string>iPod3,1</string>
                <key>HeaderLevel</key>
                <integer>2</integer>
                <key>Models</key>
                <array>
                    <string>N18AP</string>
                </array>
            </dict>
            <key>iPod touch (4th generation)</key>
            <dict>
                <key>Device</key>
                <string>iPod4,1</string>
                <key>HeaderLevel</key>
                <integer>2</integer>
                <key>Models</key>
                <array>
                    <string>N81AP</string>
                </array>
            </dict>
            <key>iPod touch (5th generation)</key>
            <dict>
                <key>Device</key>
                <string>iPod5,1</string>
                <key>HeaderLevel</key>
                <integer>2</integer>
                <key>Models</key>
                <array>
                    <string>N78AP</string>
                </array>
            </dict>
            <key>iPod touch (6th generation)</key>
            <dict>
                <key>Device</key>
                <string>iPod7,1</string>
                <key>HeaderLevel</key>
                <integer>2</integer>
                <key>Models</key>
                <array>
                    <string>N102AP</string>
                </array>
            </dict>
        </dict>
    </dict>
</plist>